body {
	background-color: white;
	color: black;
	font-size: 20px;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

@media print {
	body {
		width: 21cm;
		height: 29.7cm;
		margin: 30mm 45mm 30mm 45mm;
		/* change the margins as you want them to be. */
	}
}

h1,
th {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 28px;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	font-size: 24px;
}

#free {
	background-color: #F66;
}